# Base project owner
*                                       @irere123


# Division Leads
/engineering/                           @irere123
/comms/                                 @irere123
/design/                                @irere123
/events/                                @irere123
/finances/                              @irere123
/meta/                                  @irere123